#about {
    position: relative;

    background-color: var(--bg-grey);
}

.about {
    display: flex;
    flex-direction: column;

    &__description {
        margin-bottom: 4rem;

        color: var(--color-grey);
    }

    &__information {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap-card-wrapper);

        @media (width < 1350px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (width < 1100px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width < 700px) {
            grid-template-columns: 1fr;
        }
    }

    &__perk {
        display: flex;
        flex-direction: column;

        height: 100%;

        padding: var(--padding);

        svg {
            width: 4rem;
            height: 4rem;

            color: var(--color-orange);
        }
    }
    
    &__perk-name {
        color: var(--color-white);
    }

    &__perk-description {
        color: var(--color-grey);
    }
}
