.activities {
    &__title {
        margin-bottom: 4rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 2rem;

        @media (width < 400px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    &__card {
        display: flex;
        flex-direction: column;

        padding: var(--padding);

        background-color: var(--color-bg-card);

        @media (width < 300px) {
            padding: var(--padding-small);
        }
    }

    &__image {
        margin-bottom: 1rem;

        aspect-ratio: 16 / 9;
    }

    &__name {
        color: var(--color-white);
    }

    &__rating {
        color: var(--color-yellow);
    }

    &__price {
        color: var(--color-white);
    }

    &__rating {
        color: var(--color-orange);

        font-size: 1.25rem;
    }
}
