#activities {
    background-color: var(--bg-grey);
}


.activities {
    
    &__title {
        margin-bottom: 4rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        gap: 2rem;

        @media (width < 1500px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (width < 1100px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width < 800px) {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;

        height: 100%;

        padding: var(--padding);

        background-color: var(--color-white);
        box-shadow: var(--shadow);

        @media (width < 300px) {
            padding: var(--padding-small);
        }
    }

    &__image {
        margin-bottom: var(--margin-bottom);

        aspect-ratio: 16 / 9;
    }

    &__rating {
        color: var(--color-yellow);
    }

    &__price {
        color: var(--color-grey-dark);
    }

    &__rating {
        color: var(--color-orange);

        font-size: 1.25rem;
    }
}
