.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @media (width < 980px) {
        flex-direction: column;
    }

    &__title {
        margin-bottom: 2rem;

        color: var(--color-white);
    }

    &__image {
        @media (width < 800px) {
            aspect-ratio: 1 / 1;
        }
    }

    a {
        display: none;
    }
}
