.locations {
    &__title {
        margin-bottom: 4rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 3rem;

        @media (width < 1350px) {
            grid-template-columns: 1fr;
        }

        @media (width < 630px) {
        }
    }

    &__card {
        display: grid;
        grid-template-columns: 4fr 5fr;
        gap: 2rem;

        color: var(--color-white);

        @media (width < 630px) {
            grid-template-columns: 1fr;
        }
    }

    &__card-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__name {
        color: var(--color-white);
    }

    &__image {
        aspect-ratio: 2 / 3;

        max-height: 500px;
    }

    &__description {
        min-height: 47.8px;

        overflow-y: hidden;
    }
}
