.locations {
    &__title {
        margin-bottom: 4rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        place-items: center;
        gap: var(--gap-card-wrapper-medium);

        @media (width < 1350px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width < 870px) {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;

        position: relative;

        height: 100%;

        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--padding);

        background-color: var(--color-white);

        &:hover {
            box-shadow: var(--box-shadow);

            transition: var(--transition);
        }
    }

    &__image {
        border-radius: var(--border-radius);
        margin-bottom: var(--margin-bottom);

        aspect-ratio: 16 / 9;
    }

    &__description {
        color: var(--color-grey-dark);
    }
}
