nav {
    display: grid;
    place-items: center;

    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    height: 5rem;
    width: 100vw;

    background-color: var(--bg-grey);

    @media (width < 600px) {
        height: 3.75rem;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 3rem;

    height: 100%;

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        position: relative;

        border-radius: var(--border-radius);
        padding: 0.75rem 1.25rem;

        //background-color: var(--color-orange);

        @media (width < 1000px) {
            display: none;
            flex-direction: column;
            gap: 0;

            padding: 0;

            position: absolute;
            top: 100%;
            right: 0;

            background-color: var(--color-orange);
        }
    }

    &__item {
        @media (width < 1000px) {
            border-radius: 0;
            padding: 0;

            height: 5rem;
        }
    }

    &__link {
        position: relative;

        border-radius: var(--border-radius);
        padding: 0.5rem 0.75rem;

        font-size: 1rem;
        font-weight: 500;

        //color: var(--color-white);
        color: var(--color-white-secondary);

        @media (width < 1000px) {
            display: flex;
            align-items: center;

            height: 100%;

            padding: 1rem 5rem;
        }

        &::after {
            content: "";

            position: absolute;
            left: 0;
            bottom: 0;

            width: 0;
            height: 2px;

            background-color: var(--color-white);

            transition: width var(--transition);
        }

        &:hover {
            color: var(--color-white);
            
            &::after {
                width: 100%;
            }
        }


    }

    .button {
        @media (width < 1000px) {
            display: none;
        }
    }
}

.nav__toggle-button {
    display: none;

    color: var(--color-orange);

    @media (width < 1000px) {
        display: inline-block;

        background: transparent;

        font-size: 2rem;

        cursor: pointer;
    }
}

#nav__toggle-open {
    color: var(--color-orange);
}

#nav__toggle-close {
    color: var(--color-orange);
    @media (width < 1000px) {
        display: none;
    }
}
