@import "./style.scss";

#packages {
    /*Box Model*/
    margin-top: 10rem;

    @media (width < 600px) {
        /*Box Model*/
        margin-top: 4rem;
    }
}

.packages {
    /*Layout*/
    display: grid;
    place-items: center;

    &__title {
        /*Layout*/
        text-align: center;

        /*Box Model*/
        margin-bottom: 4rem;

        /*Font*/
        font-weight: 500;

        /*Color*/
        color: hsl(0, 0%, 13%);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-card-wrapper-medium);

        @media (width < 1500px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width < 1100px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width < 800px) {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;

        height: 100%;

        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--padding);

        background-color: var(--color-white);

        &:hover {
            box-shadow: var(--box-shadow);

            transition: var(--transition);
        }
    }

    &__card-image {
        border-radius: var(--border-radius);
        margin-bottom: 1rem;

        aspect-ratio: 16 / 9;
    }

    &__card-duration {

        font-size: 1.25rem;
  
        color: var(--color-oxford-blue);
    }

    &__card-description {
        margin-bottom: 0.75rem;

        color: var(--color-grey-dark);
    }

    &__card-price {
        margin-bottom: 0.75rem;

        font-size: 1.5rem;

        color: var(--color-oxford-blue);
    }

    i {
        font-size: 1.25rem;

        color: var(--color-oxford-blue);
    }
}
