.packages {
    &__title {
        text-align: center;

        margin-bottom: 4rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "card-1 card-1 card-2"
            "card-3 card-3 card-2";
        gap: var(--gap-card-wrapper);

        @media (width < 950px) {
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas:
                "card-1"
                "card-2"
                "card-3";
        }
    }

    &__card {
        max-height: 300px;

        padding: var(--padding);

        background-color: var(--bg-grey);

        @media (width < 950px) {
            max-height: 600px;
        }

        @media (width < 300px) {
            padding: var(--padding-small);
        }

        &:nth-child(1) {
            grid-area: card-1;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

            @media (width < 950px) {
                grid-template-columns: auto;
                grid-template-rows: 4fr 2fr;
                gap: 2rem;

                min-height: 100%;
            }
        }

        &:nth-child(2) {
            grid-area: card-2;

            display: grid;
            grid-template-rows: 4fr 2fr;
            gap: 2rem;

            min-height: 100%;
        }

        &:nth-child(3) {
            grid-area: card-3;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

            @media (width < 950px) {
                grid-template-columns: auto;
                grid-template-rows: 4fr 2fr;
                gap: 2rem;

                min-height: 100%;
            }
        }
    }

    &__card-image {
        height: 100%;
    }

    &__card-text {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }

    &__card-duration {
        font-size: 1.25rem;

        color: var(--color-white);
    }

    &__card-description {
        color: var(--color-grey);
    }

    &__card-price {
        margin-bottom: 1rem;

        font-size: 1.5rem;

        color: var(--color-white);
    }
}
