:root {
    --color-grey: hsl(0, 0%, 75%);
    --color-grey-dark: #424242;
    --bg-grey: #181819;

    --color-rich-black: #0d1b2aff;
    --color-oxford-blue: #1b263bff;
    --color-yinmn-blue: #415a77ff;
    --color-silver-lake-blue: #778da9ff;

    --color-white: #ffffff;
    --color-white-secondary: hsl(0, 0%, 90%);
    --color-orange: #f9a826;

    --margin-bottom: 1rem;
    --border: 2px solid var(--color-oxford-blue);
    --padding: 1.25rem;
    --padding: 1.25rem;
    --padding-small: 0.75rem;
    --gap-card-wrapper: 1.5rem;
    --gap-card-wrapper-medium: 3rem;
    --gap-card-wrapper-large: 4.5rem;

    --color-white: #fff;
    --color-black: #000;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);

    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";

    color: var(--color-white);
    background-color: var(--color-white);
    background-color: #0f1014;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;

    padding: 10rem 0;

    @media (width < 800px) {
        padding: 3rem 0;
    }
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

section {
    padding: 10rem 0;

    @media (width < 800px) {
        padding: 5rem 0;
    }
}

img {
    display: block;
    object-fit: cover;

    width: 100%;
}

a {
    position: relative;

    transition: var(--transition);

    &:hover {
        color: var(--color-white);
    }
}

button {
    transition: var(--transition);
}
