$color-grey-blue: #2c2d34;
$color-grey-blue-light: #3b3c44;
$color-grey-blue-dark: #1e1f24;

$color-red-orange: #e94822;
$color-red-orange-light: #f06a46;
$color-red-orange-dark: #c63c1d;

$color-orange: #f2910a;
$color-orange-light: #f5a33c;
$color-orange-dark: #d37e08;

$color-yellow: #efd510;
$color-yellow-light: #f2dc42;
$color-yellow-dark: #d6ba0e;

$color-white: #ffffff;
$color-white-light: #f2f2f2;
$color-white-dark: #cccccc;

$color-black: #000000;

$transition: all 300ms ease;

:root {
    --color-grey-blue: #2c2d34;
    --color-grey-blue-light: #3b3c44;
    --color-grey-blue-dark: #1e1f24;

    --color-grey: #e9e9e9;
    --color-grey-dark: #7d7d7d;

    --color-red-orange: #e94822;
    --color-red-orange-light: #f06a46;
    --color-red-orange-dark: #c63c1d;

    --color-orange: #f2910a;
    --color-orange-light: #f5a33c;
    --color-orange-dark: #d37e08;

    --color-yellow: #efd510;
    --color-yellow-light: #f2dc42;
    --color-yellow-dark: #d6ba0e;

    --color-white: #ffffff;
    --color-white-light: #f2f2f2;
    --color-white-dark: #cccccc;

    --color-black: #000000;
    --color-green: #9fce27;

    --margin-bottom: 1rem;
    //--border-cyan: 1px solid var(--bg-cyan);
    --border: 1px solid var(--color-green);
    --border-radius: 2rem;
    --padding: 1rem;
    --gap-card-wrapper: 1.5rem;
    --gap-card-wrapper-medium: 3rem;
    --gap-card-wrapper-large: 4.5rem;

    --color-white: #fff;
    --color-black: #000;
    --box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.3);

    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Basic", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;

    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

section {
    padding: 10rem 0;

    @media (width < 600px) {
        padding: 5rem 0;
    }
}

img {
    display: block;
    object-fit: cover;

    width: 100%;
}

a {
    transition: var(--transition);
}