body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
}

h1 {
    font-size: 6rem;
    font-weight: 700;

    line-height: 1.3;

    font-size: clamp(2.5rem, 1.40988rem + 4.59vw, 5.5rem);

    color: var(--color-white);
}

h2 {
    text-align: center;

    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.4;

    color: var(--color-oxford-blue);
    color: var(--color-white);

    @media (width < 550px) {
        font-size: 3rem;
    }

    @media (width < 400px) {
        font-size: 2.25rem;
    }

    @media (width < 300px) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.5rem;

    color: var(--color-rich-black);
}

p {
    font-size: 1.15rem;

    line-height: 1.3;
}

span {
    color: var(--color-orange);
}
