.container {
    width: 90%;

    margin: 0 auto;
    max-width: 1750px;

    position: relative;

    @media (width <= 400px) {
        width: 95%;
    }
}

.nav-container {
    width: 95%;

    margin: 0 auto;
    max-width: 1800px;

    position: relative;

    @media (width <= 1000px) {
        width: 100%;
    }
}

.button-wrapper {
    display: flex;
    align-self: end;
    gap: 1rem;

    margin-top: 2rem;

    @media (width < 375px) {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 0.5rem;

        width: 100%;
    }
}

.button {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: 2px solid transparent;
    padding: 0.75rem 1.25rem;

    width: fit-content;

    font-weight: 500;

    color: var(--color-white);
    background-color: var(--color-orange);

    transition: var(--transition);

    @media (width < 375px) {
        width: 100%;
    }

    &:hover {
        border: var(--border);
    }
}

.button-secondary {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: 2px solid var(--color-orange);
    padding: 0.75rem 1.25rem;

    width: fit-content;

    font-weight: 500;

    color: var(--color-oxford-blue);
    background-color: var(--color-white);

    transition: var(--transition);

    @media (width < 375px) {
        width: 100%;
    }

    &:hover {
        border: 2px solid var(--color-oxford-blue);

        color: var(--color-rich-black);
    }
}

.button-direct {
    color: var(--color-orange);

    transition: var(--transition);

    &:hover {
        text-decoration: underline;

        color: var(--color-orange);
    }
}

.logo {
    font-size: 2.2rem;
    font-weight: 600;

    color: var(--color-orange);

    @media (width < 600px) {
        font-size: 1.75rem;
    }

    @media (width < 400px) {
        font-size: 1.5rem;
    }
}

.quantity {
    font-size: 1.1rem;
}
