.container {
    width: 90%;

    margin: 0 auto;
    max-width: 1750px;

    position: relative;

    @media (width <= 400px) {
        width: 95%;
    }
}

.width-100 {
    @media (width < 1300px) {
        width: 100%;
    }
}

.button-wrapper {
    display: flex;
    align-self: end;
    gap: 1rem;

    margin-top: 2rem;

    @media (width < 375px) {
        flex-direction: column;
        align-self: flex-start;
        gap: 0.5rem;

        width: 100%;
    }
}

.button {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.75rem 1.25rem;

    width: fit-content;

    font-weight: 500;

    @media (width < 375px) {
        width: 100%;
    }

    &--main {
        color: var(--color-white);
        background-color: var(--color-orange);

        &:hover {
            background-color: var(--color-orange-dark);
        }
    }

    &--secondary {
        color: var(--color-black);
        background-color: var(--color-white);

        &:hover {
            background-color: var(--color-white-dark);
        }
    }
}

.button-direct {
    color: var(--color-orange);

    &:hover {
        text-decoration: underline;

        color: var(--color-orange);
    }
}

.logo {
    font-size: 2.2rem;
    font-weight: 600;

    color: var(--color-orange);

    @media (width < 600px) {
        font-size: 1.75rem;
    }

    @media (width < 400px) {
        font-size: 1.5rem;
    }
}

.quantity {
    font-size: 1.1rem;
}
